/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.row-1{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 1em;
}

.row-2{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 1em;
  margin-top: 5%;
}

.row-3{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 1em;
  margin-top: 2%;
}
